.shadow{
  box-shadow: 0px 1px 2px 2px #000000; /* x,y,模糊度,距离 */
}
.up{
  height: 79px;
  background-color: #000000;
  position:fixed;
  left: 0;
  right: 0;
  top:0;
  width: 100%;
  z-index: 1;
}
.user{
  background: url("../images/logo1.png") no-repeat left top;
  background-size: contain;
  height: 60px;
  width: 20%;
  margin-top: 35px;
  margin-left: 2%;
  text-indent: -9999px;
  cursor: pointer;
  display: inline-block;
}
.login-regist{
  float: right;
  margin-right: 20px;
}
.login-regist ul{
  margin: 0;
  padding: 0;
  height: 79px;
  list-style: none outside none;
}
.login-regist li{
  color: #3399ff;
  height: 79px;
  line-height: 79px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  text-overflow:ellipsis;
  font-size: 12px;
}
.login-regist li:first-child{
  max-width: 76px;
  overflow: hidden;
  text-align: right;
}
.login-regist li span, .login-regist li a{
  padding-left:20px;
  padding-right: 20px;
  cursor: auto;
  font-size: 12px;
  line-height: 79px;
}