.bgImg {
 background-color: #27293d;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.loginInput {
  width:376px;
  height: 527px;
  text-align: center;
  border-radius: 1px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#484371, #4d637c);
}



.loginInput h1 {
  margin-top: 15px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 2px;
}

.center {
  width: 80%;
  height: 660px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-top: 40px;
  box-sizing: content-box;
  position: relative;

}

.login-form {
  margin-top: 0.73rem;
  font-size: 16px;
  width: 100%;
}



.validateImg {
  border: 1px solid #999999;
  cursor: pointer;
  width: 90%;
  height: 59px;
  /* line-height: 59px; */
  margin-left: 20px;
}

.el-icon-refresh {
  color: #ffffff;
  font-size:16px;
  width: 40px;
  font-weight: bold;
  line-height:40px;
  cursor: pointer;

}

.submit {margin-bottom: 0;border-color: #66b1ff;display: flex;justify-content: center;}
.submit > div{width: 4.9rem;height: 0.6rem;}
.submit > div >button{height: 100%;background-color: #14A6FF;border-radius: 0.3rem;border: none;color: #fff;}
.submit > div >button >span{font-size: 0.2rem;}
.backIndex { display: flex;justify-content: center;}
.backIndex > div{width: 4.9rem;height: 0.6rem;}
.backIndex a {font-size: 0.12rem;color: #ececec;line-height: 0.4rem;height: 0.4rem;margin-left: 0.1rem;letter-spacing: 2px;text-decoration: underline;}
.submitButton {
  font-size: 14px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  color: #fff;
  background-color: #785396;


}

.submit .el-button--primary {
  background-color: #785396 !important;
}

.submit .el-button--primary:hover {
  background-color: #c752e6 !important;
}

.bottomTip {
  float: left;
}

.bottomTip p {
  font-size: 8px;
  color: #fff;
}

.bottomTip p i {
  font-style: normal;
  margin: 0 0 0 126px;
}

.bottomTip .left-u {
  float: left;
}

.left a {
  text-decoration: none;
  color: #329ff9;
}


.left-u a {
  text-decoration: none;
  color: #66b1ff;
}

.loginInput .el-input__inner {
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .1);
  border: 1px solid hsla(0, 0%, 100%, .1);
  color: #ccc;
  padding: 11px 5px 12px 15px;

}


.loginInput .el-form-item {
  margin-bottom: 30px;
  /* background-color: transparent; */
}

.loginInput .el-form-item__content {
  line-height: 60px;
}



.loginInput .el-input {
  font-size: 20px;
  width: 4.9rem;
  height: 0.6rem;
}

.loginInput .el-input--prefix .el-input__inner {
  padding-left: 40px;
  font-size: 12px;
}

.loginInput .el-form-item__error {
  font-size: 12px;
}

.loginInput .el-input__icon {
  font-size: 12px;
}


.el-input__prefix,
.el-input__suffix {
  position: absolute;
  top: 0;
  height: 100%;
  color: #778695;
  text-align: center;
}

.el-icon-view {
  position: absolute;
  top: 40%;
  right: 10%;
  color: #778695;
}

.center .el-form-item__error {
  left: -13%;
}