.info h1, .message h1 {
    font-weight: normal;
    height: 0.6rem;padding-left: 24px;
    line-height: 0.6rem;
    font-size: 0.24rem;
    color: #262626;
    background-color: #EBEBEB;
    margin-left: 20px;
    margin-right: 20px;
}
.info_l div,
.message p
{
margin: 0.3rem;
font-size: 0.18rem;
}
.message div{
    margin: 0.3rem;
    font-size: 0.18rem;
}

